*{
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

nav{
  height: 50px;
}

header{
  background: rgba(0, 0, 0, 0.1);
}
#banner{
  height: 700px;
}

nav ul{
  list-style: none;
  margin: 0;
  float: right;
}

nav ul li, nav .logo{
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;
}

nav ul li a{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #fff;
}

nav .logo{
  float: left;
  padding-left: 10px;
}

#banner .inner{
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#banner .inner h1{
  margin: 0;
}

button{
  border: none;
  background: #333;
  color: #eee;
  padding: 10px;
}

#banner button{
  padding: 14px 20px;
}

.sub-heading{
  line-height: 30px;
  font-size: 18px;
  margin: 30px 0;
}

#banner .inner .more{
  margin-top: 250px;
}

.logo{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.logo a{
  color: #fff;
}

.hr{
    width: 1080px;
    height: 2px;
    margin: 20px auto;
}

.green-section{
  text-align: center;
  background: #089D80;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.wrapper{
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper div h2{
  display: inline;
}

.green-section .hr{
  background: #078494;
}

.green-section .icon-group .icon{
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #0D6F7C;
  transform: rotate(45deg);
  margin: 20px;
}

.icon-group{
  margin-top: 60px;
}

.gray-section{
  background: #252F34;
  color: #fff;
}

.gray-section .img-section{
  width: 45%;
}

.img-section img{
  width: 100%;
}

.gray-section .text-section{
  width: 55%;
  position: relative;
  top:68px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.article-preview{
  font-size: 0;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.article-preview:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.05);
}

.article-preview > div{
  float: left;
}

.text-section > div{
  max-width: 90%;
}
.text-section h2{
  font-size: 22px;
}
.text-section p{
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
}
.text-section .sub-heading{
  font-size: 18px;
}

.purple-section{
  background-color: #3F3965;
  color: #fff;
  padding: 80px;
}
.purple-section .heading-wrapper > h2{
  margin-top: 0px;
}
.purple-section .heading-wrapper{
  text-align: center;
}
.purple-section .hr{
  width: 60%;
  background: #373259;
}
.card{
  float: left;
  width: 50%;
  min-height: 300px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card p{
  letter-spacing: 1px;
}
.card:first-child{
  background: rgba(0, 0, 0, 0.04);
}
.card:nth-child(2){
  background: rgba(0, 0, 0, 0.08);
}
.card:nth-child(3){
  background: rgba(0, 0, 0, 0.12);
}
.card:nth-child(4){
  background: rgba(0, 0, 0, 0.16);
}

ul{
  margin: 0;
}
footer{
  background: #333;
  color: #fff;
  min-height: 200px;
  text-align: center;
}

ul.share-group{
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 50px;
}

.share-group li{
  display: inline-block;
  padding: 10px;
}

.copy{
  padding:20px;
}

.main-wrapper{
  background: #444 url(banner.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
