.rotate {
  width: 200px;
  height: 200px;
  border: 1px dotted red;
  margin: 100px auto;
}
.rotate div {
  width: 200px;
  height: 200px;
  background: orange;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.skew {
  width: 300px;
  height: 100px;
  border: 2px dotted red;
  margin: 30px auto;
}
.skew div {
  width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  background: orange;
  -webkit-transform: skew(45deg, 10deg);
  -moz-transform:skew(45deg, 10deg)
  transform:skew(45deg, 10deg);
}

.scale {
  width: 200px;
  height: 200px;
  border:2px dashed red;
  margin: 100px auto;
}
.scale div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background: orange;
  text-align: center;
  color: #fff;
}
.scale div:hover {
  opacity: .5;
  -webkit-transform: scale(1.5);
  -moz-transform:scale(1.5)
  transform: scale(1.5);
}

.translate {
  width: 200px;
  height: 200px;
  border: 2px dotted red;
  margin: 20px auto;
}
.translate div {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: orange;
  color: #fff;
  -webkit-transform: translate(50px, 100px);
  -moz-transform:translate(50px, 100px);
  transform: translate(50px, 100px);
}

.transform-origin {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  border: 2px dotted red;
  line-height: 300px;
  text-align: center;
}
.transform-origin div {
  background: orange;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.transition-duration {
  width: 300px;
  height: 200px;
  background-color: orange;
  margin: 150px auto;
  /* 过渡所作用的属性 */
  -webkit-transition-property: height;
  transition-property: height;
  /* 过渡所需要的时间 */
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  /* 过渡效果的速度模式 */
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  /* 过渡效果的延迟 */
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.transition-duration:hover {
  height: 100px;
}

.transition-delay {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  border: 2px dotted red;
  position:relative;
}
.transition-delay div {
  padding: 15px 20px;
  color: #fff;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  /* translate平移都相对原本位置而言 */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.transition-delay div:hover {
  background-color: red;
  border-radius: 10px;
}
